body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.navbar-form .bootstrap-select.btn-group{
    margin-bottom: 0px;
}

.navbar-fixed-top{
    z-index: 100;
}

/* to fix primefaces fileupload button alignment */
.fileupload-buttonbar .ui-button{
    vertical-align: top;
}

.ui-tree {
    width: 100%;
    height: 400px;
}

.ui-widget-content {
    border: 0;
}